html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* clearfix */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* font */
@font-face {
    font-family: 'montserratbold';
    src: url('font/montserrat-bold-webfont.woff2') format('woff2'),
         url('font/montserrat-bold-webfont.woff'), format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratitalic';
    src: url('font/montserrat-italic-webfont.woff2') format('woff2'),
         url('font/montserrat-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* CSS DASAR */

body{
    background-color: #0c304a;
    font-family: montserrat;
}

.container{
    
    display: grid;
    
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'aside'
        'main'
        'footer'
        ;
    
}

.aside, .main, .footer{
    padding: 20px;
    box-sizing: border-box;

    justify-content: center;
}
/* aside (samping) */
.aside{
    grid-area: aside;
    background-color: #7cb278;
    text-align: center;
    box-sizing: border-box;
}
.aside h1{
    margin: 30px auto;
    font-size: 20px;
    font-weight: bold;
    font-family: montserrat;
    color: white;
}

.aside img{
    max-width: 130px;
    max-height: 130px;
    
    border-radius: 50%;
    border: 10px solid white;
}

.aside p{
    margin: 30px 30px;
    font-size: 14px;
    font-weight: normal;
    color: white;
    line-height: 1.2;
}

.social ul li{
    display: inline-block;
    margin: auto 10px;
    box-sizing: border-box;
}

.ig, .wa, .mail, .tw{
    background-size: cover;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
}
.ig{
    background-image: url(img/IG.png);
}

.wa{
    background-image: url(img/WA.png);
}

.mail{
    background-image: url(img/EMAIL.png);
}

.tw{
    background-image: url(img/tw-02.png);
}
.flex-social{
    display: flex;
    justify-content: center;
}
/* akhir dari aside */

/* main */
.main{
    grid-area: main;
    background-color: #a7e2c3;
    display: flex;
    justify-content: center;   
    border-bottom: 2px solid white;
}
.item1 h1{
    font-weight: bold;
    font-size: 30px;
}
.item1{
    padding-right: 20px;
    color: #0c304a;
}

.item1 p{
    margin-top: 20px;
    line-height: 1.2;
}
.item2 img{
    border-radius: 20px;
    background-size: cover;
    
}

/* akhir dari main */

.footer{
    grid-area: footer;
    background-color: #a7e2c3;
}

.footer p{
    margin: 20px auto;
}

.footer ul{
	display: grid;
	grid-template-columns: auto auto;
	
}

li{	
	font-weight: bold;
	margin: 5px 0px;
}

li span {
	font-weight: normal;
}

/* copyright-start */
/* .copyright{
    text-align: center;
    width: 100%;
    font-size: 14px;
} */

.copyright{
    display: grid;
    grid-template-columns: 1fr;
    
    text-align: center;
}

.copyright p{
    color: #5487ac;
}

/* Responsive Breakpoint */
/* * DESKTOP VERSIONS (hanya terpengaruh dengan dekstop ) */
@media screen and (min-width: 992px) {
    
    .container{
        margin: 50px auto;
        width: 70%;
        grid-template-columns: 1fr 2.5fr;
        grid-template-areas: 
    'aside main main'
    'aside footer footer'
    ;
        grid-template-rows: min-content 1fr auto;
    }

    .aside{
        border-radius: 20px 0 0 20px;
        box-shadow: 20px 0px 10px -5px #a7e2c3;
    }
    .main{
        z-index: -1;
        border-radius: 0 20px 0 0;
    }

    .footer{
        border-radius: 0 0 20px 0;
    }
    

}

@media screen and (max-width: 992px) {
    
    .aside, .main, .footer{
        max-width: 992px;
    }

    .aside h1{
        margin: 50px auto;
    }
    .main{  
        border-top: 2px solid white;
    }
    .main h1{  
        text-align: center;
        font-size: 20px;
    }
    .footer p{
        text-align: center;
    }
    .footer{
        background-color: #7cb278;

    }
    /* .footer .list{
        max-width: 80%; 
    } */
    .copyright{
        margin: 50px auto;
    }
}

@media screen and (max-width:576px) {
    .main img{
        display: none;
        flex-wrap: wrap;
    }
    .footer ul{
        grid-template-columns: auto;
    }
}

/* apple watch */
/* @media screen and (max-width: 162px) {
    .aside{
        margin: 0;
        padding: 0;
    }

    .aside h1{
        margin: 10px auto;
        font-size: 16px;
    }
    .aside img{
        width: 85px;
        height: 85px;
        border: 5px solid white;
    }
    .aside p{
        margin: 15px auto;
        font-size: 10px;
    }

    .copyright p{
        font-size: 10px;
    }
    .main .item2 img{
        width: 90px;
    }
} */
