html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* clearfix */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/*font*/


@font-face {
    font-family: 'montserratbold';
    src: url('font/montserrat-bold-webfont.woff2') format('woff2'),
         url('font/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratitalic';
    src: url('font/montserrat-italic-webfont.woff2') format('woff2'),
         url('font/montserrat-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*css dasar*/

body{
	font: 16px/20px arial, sans-serif;
	background-color: #0c304a;
	
}

.container {
	width: 960px;
	height: 550px;
	background-color: white;
	margin:50px auto;
	box-sizing: border-box;
	border-radius: 20px;
}

.sidebar{
	box-sizing: border-box;
	
	border-radius: 20px 0 0 20px;

	width: 270px;
	height: 550px;
	box-sizing: border-box;
	float: left;
	padding: 30px;
	position: relative;
	background-color: #7cb278;
	box-shadow: 20px 0px 10px -5px #a7e2c3;
}

.sidebar h1{
	font-size: 18px;
	font-weight: bold;
	font-family: montserratbold;
	text-align: center;
	color: white;
}

.sidebar .foto {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 20px auto;
	box-sizing: border-box;
	background: linear-gradient(-130deg, #a1d9bc , white );

}

.sidebar .foto img{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	position: absolute;
	right: 70px;
	top: 80px;

}

.sidebar p {
	text-align: center;
	margin-bottom: 20px;
	font-size: 14px;
	color: white;
	font-family: montserrat, arial;
	font-weight: normal;

}

.social {
	text-align: center;
}

.social a{
	margin: 0 5px;
}

/*social media*/
.ig{
	width: 30px;
	height: 30px;
	background-image: url(img/IG.png);
	background-repeat: no-repeat;
	display: inline-block;
	background-size: cover;
	text-indent: -9999px;
	filter: grayscale(100%);
}

.ig:hover, .wa:hover, .gmail:hover, .twitter:hover {
	filter: invert(70%);
}

.wa{
	width: 30px;
	height: 30px;
	background-image: url(img/WA.png);
	background-repeat: no-repeat;
	display: inline-block;
	background-size: cover;
	text-indent: -9999px;
}

.gmail{
	width: 30px;
	height: 30px;
	background-image: url(img/EMAIL.png);
	background-repeat: no-repeat;
	display: inline-block;
	background-size: cover;
	text-indent: -9999px;
}

.twitter{
	width: 30px;
	height: 30px;
	background-image: url(img/TWITTER.png);
	background-repeat: no-repeat;
	display: inline-block;
	background-size: cover;
	text-indent: -9999px;
}

.menus{
	
	margin-top: 30px;
	width: 120px;
	margin: 25px auto;
	
	box-sizing: border-box;
}
.menus img{
	width: 20px;
	height: 20px;
	padding-right: 10px;
}

.menus a{
	text-decoration: none;
	font-size: 14px;
	font-family: montserrat;
	color: white;
}

.menu1, .menu2, .menu3, .menu4, .menu5{
	height: 28px;
	margin: 4px auto;
	box-sizing: border-box;
	position: relative;
	padding-left: 5px;
	border-radius: 7px;
}

.menu1 img, .menu2 img, .menu3 img, .menu4 img, .menu5 img{margin-top: 4px;}
.menu1 a, .menu2 a, .menu3 a, .menu4 a, .menu5 a{
	position: absolute;
	top: 5px;
}

.menu1:hover, .menu2:hover, .menu3:hover, .menu4:hover, .menu5:hover{
	background-color: #333;
}

.main{
	background-color: #a7e2c3;
	width: 690px;
	height: 300px;
	float: right;
	padding: 25px;
	box-sizing: border-box;
	border-radius: 0 20px 0 0;
	border-bottom: 2px solid #c8f2dc;

}

.main img{
	float: right;
	margin-left: 25px;
	border-radius: 20px;
}

.main h2{
	font-family: montserrat;
	font-weight: bold;
	font-size: 30px;
	color: #0c304a;
}

.main p{
	margin-top: 20px;
	font-family: montserrat;
	color: #0c304a;
}

.footer h3{
	margin-bottom: 20px;
	font-family: montserratitalic;
	font-weight: bold;

}
.footer {
	background-color: #a7e2c3;
	width: 690px;
	height: 250px;
	float: right;
	padding: 25px;
	box-sizing: border-box;
	border-radius: 0 0 20px 0;
	font-family: montserrat;
	color: #0c304a;

}

.footer ul{
	display: grid;
	grid-template-columns: auto auto;
	
}

li{	
	font-weight: bold;
	margin: 5px 0px;
}

li span {
	font-weight: normal;
}


.footer p, .footer a{
	margin-top: 20px;
	font-size: 12px;

}

.footer p a{
	text-decoration: none;
	font-family: montserratitalic;
	font-weight: bold;
}




.copyright{
	color: #5487ac;
	text-align: center;
	font-size: 12px;
	width: 960px;
	float: left;
	}
.copyright p {
	margin-top: 20px;
	}


	/**/

	